:root {
  --primary: #019a9d;
  --bg: #ecffe3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "poppins", sans-serif;
  background-color: var(--bg);
  color: #fff;
}

/*navbar*/
.navbar {
  display: flex;
  width: 1600px;
  height: 100px;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgba(163, 219, 138, 0.5);
  border-bottom: 1px solid #479c9f;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  border-radius: 0 0 25% 25%;
}

.navbar .navbar-logo img {
  display: flex;
  width: 200px;
  height: 80px;
}

.navbar .navbar-nav a {
  color: #000000;
  display: inline-block;
  font-size: 1.4rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scale(0.5);
}

.navbar .navbar-extra {
  color: #000000;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--primary);
}

/* slide show */
.container {
  width: 500px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  overflow: hidden;
  border: 10px solid #ffffff;
  border-radius: 8px;
  box-shadow: 10px 25px 30px rgba(0, 0, 0, 0.3);
}
.wrapper {
  width: 100%;
  display: flex;
  animation: slide 16s infinite;
}
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(0);
  }
  30% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(-100%);
  }
  55% {
    transform: translateX(-200%);
  }
  75% {
    transform: translateX(-200%);
  }
  80% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(-300%);
  }
}
img {
  width: 100%;
}
